.logo {
    position: fixed;
    transform: scale(0.6); 
    transform-origin: top left;
}
.logo-container {
    width: 275px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (orientation: portrait) {
    .logo {
        transform: scale(0.4); 
    }
}