/*********************************************

Art Direction

*********************************************/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #f2f2f2;
}

:root {
    --color1: #ffffff;
    --color2: #e2e2e2;
    --color3: #5a6261;
    --color4: #ff6e6e;
    --color5: #2a2a2a;
    --color6: #c0d6ea;
}
::selection {
    background: var(--color4);
}
::-moz-selection {
    background: var(--color4);
}
::-webkit-scrollbar {
    width: 60px;
    background-color: #bbb;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color3);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color4);
}

/*********************************************

sections

*********************************************/
.section-full{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 40px;
}

/*********************************************

Titles

*********************************************/
.title-super {
    font-size: 5rem;
    font-weight: 900 !important;
    line-height: 1.1;
}

.title-1 {
    font-size: 2.5rem !important;
    font-weight: 700;
}
.title-2 {
    font-size: 2rem !important;
    font-weight: 600;
}
.title-3 {
    font-size: 1.5rem !important;
    font-weight: 500;
}
.title-4 {
    font-size: 1.25rem !important;
    font-weight: 500;
}
.title-5 {
    font-size: 1rem !important;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .title-super {
        font-size: 3rem;
    }

    .title-1 {
        font-size: 2rem;
    }
    .title-2 {
        font-size: 1.5rem;
    }
}
/*********************************************

button type: btn

*********************************************/
.btn {
    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out;
    display: inline-block;
    cursor: pointer;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--color3);
    color: var(--color1);
    border: 0;
}
.btn:hover {
    background-color: var(--color1);
    color: var(--color3);
}
.btn-light {
    background-color: var(--color1) !important;
    color: var(--color3) !important;
}
.btn-light:hover {
    background-color: var(--color2) !important;
    color: var(--color1) !important;
}
.btn-dark {
    background-color: var(--color5) !important;
    color: var(--color1) !important;
}
.btn-dark:hover {
    background-color: var(--color6) !important;
    color: var(--color3) !important;
}

/*********************************************

button type: btn-outline

*********************************************/
.btn-outline {
    transition:
        border 0.5s ease-in-out,
        color 0.5s ease-in-out;
    display: inline-block;
    cursor: pointer;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: transparent;
    color: var(--color3);
    border: 1px solid var(--color3);
}
.btn-outline:hover {
    color: var(--color4);
    border: 1px solid var(--color4);
}
.btn-outlinelight {
    border: 1px solid var(--color2) !important;
    color: var(--color2) !important;
}
.btn-outlinelight:hover {
    border: 1px solid var(--color4) !important;
    color: var(--color4) !important;
}
.btn-outlinedark {
    border: 1px solid var(--color5) !important;
    color: var(--color5) !important;
}
.btn-outlinedark:hover {
    border: 1px solid var(--color2) !important;
    color: var(--color2) !important;
}

/*********************************************

button type: btn-mini

*********************************************/
.btn-mini {
    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out;
    display: inline-block;
    cursor: pointer;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    background-color: var(--color3);
    color: var(--color1);
}
.btn-mini:hover {
    background-color: var(--color1);
    color: var(--color3);
}

/*********************************************

button variations

*********************************************/
.btn-full {
    display: block !important;
    width: 100% !important;
}
.btn-off {
    opacity: 0.3;
}
.btn-blur {
    filter: blur(1px);
    pointer-events: none;
}